.header {
    // position:fixed;
    // width:100%;
    // left:0;
    // top:0;
    // right: 0;
    // z-index: 1000;

    &__container{
        justify-content: space-between;
        color: white
    }
    &__logo, &__acc-icon{
        text-transform: uppercase;
        font-size: large;
        cursor: pointer;
        &:hover {
            color: yellowgreen;
        }
    }

}