.table-row-light {
    background-color: lightblue;
}
.table-row-dark {
    background-color: lightskyblue;
}
.table-row-light-main {
    background-color: rgba(#6059a6,0.4);
}
.table-row-dark-main {
    background-color: rgba(#a4a956, 0.4);
}